body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 350px; /* Adjust as needed */
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px); /* Account for padding */
    padding: 14px 10px;
    margin-bottom: 15px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.btn-login {
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 14px 0;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-login:hover {
    background-color: #166fe5;
}

.forgot-password {
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.separator {
    border: 0;
    height: 1px;
    background-color: #dadde1;
    margin: 20px 0;
}

.btn-create-account {
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 0;
    width: 60%; /* Adjust as needed */
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-create-account:hover {
    background-color: #36a420;
}

.create-page-link {
    font-size: 13px;
    color: #1c1e21;
}

.create-page-link a {
    color: #1c1e21;
    font-weight: bold;
    text-decoration: none;
}

.create-page-link a:hover {
    text-decoration: underline;
}